/**** Base Styles ****/

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(40,10%,5%);
}

header {
  border-bottom: 2px solid #000;
}

h1,
h2,
h4 {
  font-weight: 300;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 4em;
  margin-bottom: 0;
  margin-top: 0.3em;
}

h4 {
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.5;
}

a:active {
  opacity: 0.3;
}

/**** Nav/Menu Styles ****/

nav,
#issue-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#issue-desc {
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  background-image: url(kings.jpeg);
  background-color: hsla(40,10%,50%,0.5);
  background-blend-mode: color-burn;
  height: 75vh;
  background-position: center;
  background-size: cover;
  color: white;
}

#issue-desc span {
  font-weight: 100;
  margin-top: 1em;
  margin-bottom: 1em;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}

#contributors {
  font-weight: 400;
  font-size: 0.9em;
}

#contributors li {
  padding: 1em 1em;
}

#nav-menu-ul {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8em;
}

#nav-menu-ul li {
  padding: 0.5em 1em;
}

/**** Main Content Styles ****/

#main-content {
  display: flex;
  flex-direction: column;
}

#main-content a {
  color: hsl(200,50%,50%)
}

.item {
  max-width: 600px;
  padding: 5% 5%;
  border-top: 1px solid #ccc;
  font-weight: 400;
  min-height: 100vh;
}

.item h3 {
  margin: 0 auto 0.2em auto;
  font-weight: 400;
}

.item h5 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

.bio {
  font-size: 0.9em;
  font-style: italic;
  font-weight: 300;
  max-width: 60%;
  margin-bottom: 0.2em;
}

.item:last-of-type {
  min-height: 40vh;
}

.last-img {
  align-self: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

#up-button {
  display: none;
  position: fixed;
  right: 50%;
  bottom: -5px;
  z-index: 999;
  overflow: hidden;
}

/**** Footer Styles ****/

footer {
  text-align: center;
  width: 100%;
  border-top: 1px solid #000;
  background-color: hsl(40,10%,10%);
  background-blend-mode: color-burn;
  background-position: top;
  color: #fff;
}

/**** Media Queries ****/

@media screen and (max-width: 640px) {

  h1 {
    font-size: 3.5em;
  }

  .last-img {
    width: 90%;
  }
}
